@model RMUI.Models.DiningTableDisplayModel

@{
    ViewData["Title"] = "Insert Dining Table";
}

<h1 class="text-center">Add Dining Table</h1>

<hr />
<div class="text-center">
    <div style="width:40%; margin:50px auto">
        <form asp-action="InsertDiningTable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableNumber" class="control-label"></label>
                <input asp-for="TableNumber" class="form-control" />
                <span asp-validation-for="TableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="ViewDiningTables">Back to Table List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
