@model RMUI.Models.FoodDisplayModel

@{
    ViewData["Title"] = "Edit Food";
}

<h1 class="text-center">Edit Food</h1>

<hr />
<div class="text-center">
    <div style="width:40%; margin:50px auto;">
        <form asp-action="UpdateFood" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="FoodType" class="control-label"></label>
                <input asp-for="FoodType" class="form-control" />
                <span asp-validation-for="FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisplayPhoto1" class="control-label"></label>
                <input asp-for="DisplayPhoto1" class="form-control" />
                <span asp-validation-for="DisplayPhoto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayPhoto2" class="control-label"></label>
                <input asp-for="DisplayPhoto2" class="form-control" />
                <span asp-validation-for="DisplayPhoto2" class="text-danger"></span>
            </div>

            <div hidden="hidden" class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div hidden="hidden" class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="ViewFoods">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
