@model RMUI.Models.FoodDisplayModel

@{
    ViewData["Title"] = "Insert Food";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 class="text-center">@ViewBag.Message</h1>

<hr />
<div class="container">
    <form asp-action="InsertFood">
        <div style="display:flex;" class="flex-row">
            <div class="col-7">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FoodType" class="control-label"></label>
                    <select id="foodType" asp-for="FoodType" class="form-control" asp-items="@(new SelectList(ViewBag.FoodTypeList, "Value", "Text"))">
                        <option>--select--</option>
                    </select>
                    <span asp-validation-for="FoodType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodName" class="control-label"></label>
                    <input asp-for="FoodName" class="form-control" />
                    <span asp-validation-for="FoodName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescription" class="control-label"></label>
                    <input asp-for="ItemDescription" class="form-control" />
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DisplayPhoto1" class="control-label"></label>
                    <input id="visual1" asp-for="DisplayPhoto1" class="form-control" />
                    <span asp-validation-for="DisplayPhoto1" class="text-danger"></span>

                    <img style="margin:10px;" width="250" height="250" name="imageHolder1" id="imageHolder1"
                         src="http://i.imgur.com/zAyt4lX.jpg">
                </div>

                <div class="form-group">
                    <label asp-for="DisplayPhoto2" class="control-label"></label>
                    <input id="visual2" asp-for="DisplayPhoto2" class="form-control" />
                    <span asp-validation-for="DisplayPhoto2" class="text-danger"></span>
                    <img style="margin:10px;" width="250" height="250" name="imageHolder2" id="imageHolder2"
                         src="http://i.imgur.com/zAyt4lX.jpg">
                </div>

            </div>

            <div class="col-7">
                <div class="form-group">
                    <label asp-for="FoodNameCR" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameDE" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameIT" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameES" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FoodDescriptionCR" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionCR" class="form-control" />
                    <span asp-validation-for="FoodDescriptionCR" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionDE" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionDE" class="form-control" />
                    <span asp-validation-for="FoodDescriptionDE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionIT" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionIT" class="form-control" />
                    <span asp-validation-for="FoodDescriptionIT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionES" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionES" class="form-control" />
                    <span asp-validation-for="FoodDescriptionES" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

</div>

<div class="text-center">
    <a asp-action="ViewFoods">Back to Food List</a>
</div>


<script>
    function register(selector, holder) {
        $(selector).bind('input', function () {
            $(holder).attr('src', $(selector).val()); //concatinate path if required
        });
    }
    $(document).ready(function ($) {
        register('#visual1', '#imageHolder1')
        register('#visual2', '#imageHolder2')
    })

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
