@model RMUI.Models.FoodDisplayModel

@{
    ViewData["Title"] = "Insert Food";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1 class="text-center">@ViewBag.Message</h1>

<hr />
<div class="container">
    <form enctype="multipart/form-data" asp-action="InsertFood" method="post">
        <div style="display:flex;" class="flex-row">
            <div class="col-7">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FoodType" class="control-label"></label>
                    <select id="foodType" asp-for="FoodType" class="form-control" asp-items="@(new SelectList(ViewBag.FoodTypeList, "Value", "Text"))">
                        <option>--select--</option>
                    </select>
                    <span asp-validation-for="FoodType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodName" class="control-label"></label>
                    <input asp-for="FoodName" class="form-control" />
                    <span asp-validation-for="FoodName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescription" class="control-label"></label>
                    <input asp-for="ItemDescription" class="form-control" />
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DisplayPhoto1" class="control-label"></label>
                    <input name="vis1" type="file" id="visual1"  />
                    <span asp-validation-for="DisplayPhoto1" class="text-danger"></span>

                    <img style="margin:10px;" width="250" height="250" name="imageHolder1" id="imageHolder1"
                         src="http://i.imgur.com/zAyt4lX.jpg">
                </div>

                <div class="form-group">
                    <label asp-for="DisplayPhoto2" class="control-label"></label>
                    <input name="vis2" type="file" id="visual2" />

                    <span asp-validation-for="DisplayPhoto2" class="text-danger"></span>
                    <img style="margin:10px;" width="250" height="250" name="imageHolder2" id="imageHolder2"
                         src="http://i.imgur.com/zAyt4lX.jpg">
                </div>
            </div>

            <div class="col-7">
                <div class="form-group">
                    <label asp-for="FoodNameCR" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameDE" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameIT" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodNameES" class="control-label"></label>
                    <input id="visual1" asp-for="FoodNameCR" class="form-control" />
                    <span asp-validation-for="FoodNameCR" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FoodDescriptionCR" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionCR" class="form-control" />
                    <span asp-validation-for="FoodDescriptionCR" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionDE" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionDE" class="form-control" />
                    <span asp-validation-for="FoodDescriptionDE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionIT" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionIT" class="form-control" />
                    <span asp-validation-for="FoodDescriptionIT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoodDescriptionES" class="control-label"></label>
                    <input id="visual1" asp-for="FoodDescriptionES" class="form-control" />
                    <span asp-validation-for="FoodDescriptionES" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

</div>

<div class="text-center">
    <a asp-action="ViewFoods">Back to Food List</a>
</div>


<script>
    function readURL(input, target) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(target).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#visual1").change(function () {
        readURL(this, '#imageHolder1');
    });
    $("#visual2").change(function () {
        readURL(this, '#imageHolder2');
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
