@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-lg-5"></div>
<div class="mt-lg-5"></div>
<div class="text-center">
    <h1 class="display-5 text-primary">Welcome To Restaurant Management Application</h1>

</div>
